

body {background-color: 90fb66}




div.top {display: inline-block; vertical-align:top; max-height: 150px; height: 9vw; horizontal-align: center; background-color: 1D8B15; text-align: center; min-width:device-width; width: 100%; font-family: "orbitron", sans-serif; font-size: 70px; font-size: 6vw; color: 35c2ee; font-variant: small-caps;}

div.image {display: inline-block; vertical-align: top; horizontal align: left; width: 20%; padding: 25px; min-width: 350px; max-width:device-width;}

div.left {display: inline-block; vertical-align: top; horizontal align: left; width: 20%; padding: 25px; min-width: 350px; max-width:device-width;}

div.center {display: inline-block; vertical-align: top; horizontal align: center; text-align: center; width: 40%; padding: 25px; background-color:90fb66; min-width: 350px; max-width:device-width;}

div.right {display: inline-block; horizontal-align: right; vertical-align: top; width: 20%; padding: 25px; min-width: 350px; max-width:device-width;}

div.footer {float: bottom; clear: both; margin: auto; width: 100%; padding: 25px; max-width:device-width;}


p {font-family:cabin, sans-serif; font-size: 1.2em; margin: 20px}
p.blurb {text-indent:50px; text-align:justify;}
p.category {font-family: orbitron; font-variant: small-caps; font-size: 1.7em}
p.info {text-align: center; font-size: .5em; color: black; text-decoration: none}
p.links {padding-left:20px font-size:1.2em}


ul.navigation {font-family:cabin, sans-serif; font-size:1.2em; list-style-type:none}
ul.subset {font-size:.7em}
li {font-family:cabin, sans-serif; font-size:1.2em; display:block;
    padding: 2px}
ul.food
li {font-family:cabin, sans-serif; font-size:1.2em; display:block;
    padding: 2px}
li.external {font-family:cabin, sans-serif; font-size:1.2em; display:block;
    padding: 2px;} 

span.navigation {border-style:outset;}
span.food {color: 064673}
span.external {color: D248FF;}


a:link {color:blue}
a:visited {color:purple}
a:hover {color:green}
a:active {color:red}




// Create the dropdown base
$("<select />").appendTo("nav");

// Create default option "Go to..."
$("<option />", {
   "selected": "selected",
   "value"   : "",
   "text"    : "Go to..."
}).appendTo("nav select");

// Populate dropdown with menu items
$("nav a").each(function() {
 var el = $(this);
 $("<option />", {
     "value"   : el.attr("href"),
     "text"    : el.text()
 }).appendTo("nav select");
});


$("nav select").change(function() {
  window.location = $(this).find("option:selected").val();
});
